/* Global Styles ----------------- */
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
    margin: 0px;
    position: relative;
    background-color: #f4f4f4;
    font-family: "PT Sans", sans-serif;
}
@media (min-width: 768px) {
    .container {
        width: auto;
    }
}
@media (max-width: 767px) {
    body {
        padding: 0px;
    }
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}
.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
/* Nav ------------------------- */
.navbar-collapse ul.nav li a {
    color: #ccc;
}
.navbar-collapse ul.nav li.dropdown ul.dropdown-menu li a {
    color: #212121;
}

/*Makes menu item drop on hover on desktop screens */
@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}
@media (max-width: 767px) {
    .navbar-collapse ul.nav li a:hover {
        color: #ccc;
    }
    .navbar-collapse ul.nav li.dropdown ul.dropdown-menu li a,
    .navbar-collapse ul.nav li.dropdown ul.dropdown-menu li a:hover {
        color: #ccc;
    }
}
/* Header ----------------------- */
#jumbotron {
    height: 400px;
    width: 100%;
}
/* Sliders ----------------------- */

/* Main ----------------------- */

/* Form ----------------------- */
/* Fixed Footer ---------------- */
.navbar-fixed-bottom {
    background-color: gray;
    border-top: 1px solid #000;
}
h4#send-photo {
    display: inline-block;
    padding: 4px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}
.bottom-content .btn {
    display: inline-block;
    float: right;
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 1.4em;
    width: 250px;
}
/* Footer ----------------------- */
footer {
    background-color: #d9d9d9;
    padding: 50px;
    padding-bottom: 0px;
}
.social {
    text-align: center;
}
.fa {
    padding: 10px;
    color: #3992d3;
}
#copyright {
    text-align: center;
    padding: 10px;
    margin-top: 60px;
}
