/* Components & Variables */

// Colors

$main-bg: #ffffff;
$second-bg: #363B3E;
$link: #212121;
$link-hover: #2196F3;
$primary: #2196F3;
$secondary: #90CAF9;
$p-color: #4a4a4a;
$h-color: #212121;
$main-border: #ccc;
$white: #f7f7f7;
$gray: #959595;

// Font Sizes

$h1: 2em;
$h2: 1.5em;
$h3: 1.17em;
$h4: 1.12em;
$h5: .83em;
$h6: .75em;
$p-size: 1em;


// Buttons


// Mixins 


/* Global Styles ----------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(animate.min.css);
body {
    margin: 0px;
    position: relative;
    background-color: $main-bg;
    font-family: "PT Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: $h-color;
}
h1 {
    font-size: $h1;
}
h2 {
    font-size: $h2;
}
h3 {
    font-size: $h3;
}
h4 {
    font-size: $h4;
}
h5 {
    font-size: $h5;
}
h6 {
    font-size: $h6;
}
p {
    font-size: $p-size;
    color: $p-color;
}
a button:hover {
    background-color: $primary;
}
a,
a:hover,
a:active,
a:focus {
    border: none;
    outline: none;
}
@media (min-width: 768px) {
    .container {
        width: auto;
    }
}
@media (max-width: 767px) {
    body {
        padding: 0px;
    }
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}
/* Nav ------------------------- */
.navbar-inverse {
    background-color: $white;
}
.navbar-collapse {
    margin-top: 4px;
    background-color: $white;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:active,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: $white;
    color: $link;
}
.navbar-brand h3 {
    color: $primary;
}
.navbar-header .navbar-toggle {
    border: none;
}
.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:active,
.navbar-header .navbar-toggle:focus {
    border: none;
    background-color: inherit;
}
.navbar-header .navbar-toggle >.icon-bar {
    background-color: $primary;
    width: 30px;
    height: 3px;
}
.navbar-collapse ul.nav li a {
    color: $link;
    text-transform: uppercase;
    font-size: $p-size;
}
.navbar-collapse ul.nav li a:hover {
    color: $link-hover;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a,
.navbar-collapse ul.nav li.dropdown li a {
    padding: 10px;
    margin-left: 10px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-collapse ul.nav li.dropdown li a:hover {
    background-color: inherit;
}
/*Makes menu item drop on hover on desktop screens */
@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    .navbar-nav {
    float: right;
    margin-right: 4%;
    }
}
@media (max-width: 767px) {
      .navbar-inverse .navbar-nav .open .dropdown-menu>li>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:active,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        font-size: $p-size;
        color: $link;
    }
    .navbar-collapse ul.nav li a:hover {
        color: $link;
    }
}
/* Header ----------------------- */
header {
    background-color: $primary;
    margin-top: -10px;
}
header h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    padding-bottom: 10px;
    line-height: 1.4em;
    color: $white;
    font-size: $h1;
}
header h3 {
    padding: 15px;
    font-size: $h2;
    text-align: center;
    color: $white;
}
/* Sliders ----------------------- */

/* Main ----------------------- */

/* Form ----------------------- */
/* Footer ----------------------- */
footer {
    background-color: $second-bg;
    padding: 40px;
    color: $gray;
}
footer .col-sm-4 {
    padding: 20px;
}
.navigation {
    display: inline;
    list-style-type: none;
}
footer a {
    color: $gray;
}
footer a:hover {
    color: $white;
}
.social {
    text-align: center;
}
.contact-info {
    margin-bottom: 40px;
}
.contact-info p {
    color: $gray;
}
.fa {
    padding: 10px;
}
#copyright {
    text-align: center;
    padding: 10px;
    margin-top: -140px;
    margin-bottom: 0px;
    color: $gray;
}