@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(animate.min.css);
/* Components & Variables */
/* Global Styles ----------------- */
/* line 37, /Library/WebServer/Documents/assets/css/styles.scss */
body {
  margin: 0px;
  position: relative;
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif; }

/* line 43, /Library/WebServer/Documents/assets/css/styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #212121; }

/* line 46, /Library/WebServer/Documents/assets/css/styles.scss */
h1 {
  font-size: 2em; }

/* line 49, /Library/WebServer/Documents/assets/css/styles.scss */
h2 {
  font-size: 1.5em; }

/* line 52, /Library/WebServer/Documents/assets/css/styles.scss */
h3 {
  font-size: 1.17em; }

/* line 55, /Library/WebServer/Documents/assets/css/styles.scss */
h4 {
  font-size: 1.12em; }

/* line 58, /Library/WebServer/Documents/assets/css/styles.scss */
h5 {
  font-size: 0.83em; }

/* line 61, /Library/WebServer/Documents/assets/css/styles.scss */
h6 {
  font-size: 0.75em; }

/* line 64, /Library/WebServer/Documents/assets/css/styles.scss */
p {
  font-size: 1em;
  color: #4a4a4a; }

/* line 68, /Library/WebServer/Documents/assets/css/styles.scss */
a button:hover {
  background-color: #F44336; }

@media (min-width: 768px) {
  /* line 72, /Library/WebServer/Documents/assets/css/styles.scss */
  .container {
    width: auto; } }

@media (max-width: 767px) {
  /* line 77, /Library/WebServer/Documents/assets/css/styles.scss */
  body {
    padding: 0px; }
  /* line 80, /Library/WebServer/Documents/assets/css/styles.scss */
  .container {
    padding-left: 25px;
    padding-right: 25px; } }

/* Nav ------------------------- */
/* line 86, /Library/WebServer/Documents/assets/css/styles.scss */
.navbar-inverse {
  background-color: #f7f7f7; }

/* line 89, /Library/WebServer/Documents/assets/css/styles.scss */
.navbar-collapse {
  margin-top: 4px;
  background-color: #f7f7f7; }

/* line 96, /Library/WebServer/Documents/assets/css/styles.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:active, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #f7f7f7;
  color: #212121; }

/* line 100, /Library/WebServer/Documents/assets/css/styles.scss */
.navbar-header .navbar-toggle {
  border: none; }

/* line 105, /Library/WebServer/Documents/assets/css/styles.scss */
.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:active, .navbar-header .navbar-toggle:focus {
  border: none;
  background-color: inherit; }

/* line 109, /Library/WebServer/Documents/assets/css/styles.scss */
.navbar-header .navbar-toggle > .icon-bar {
  background-color: #F44336;
  width: 30px;
  height: 3px; }

/* line 114, /Library/WebServer/Documents/assets/css/styles.scss */
.navbar-collapse ul.nav li a {
  color: #212121;
  text-transform: uppercase;
  font-size: 1em; }

/* line 119, /Library/WebServer/Documents/assets/css/styles.scss */
.navbar-collapse ul.nav li a:hover {
  color: #F44336; }

/*Makes menu item drop on hover on desktop screens */
@media (min-width: 768px) {
  /* line 125, /Library/WebServer/Documents/assets/css/styles.scss */
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block; } }

/* Header ----------------------- */
/* line 133, /Library/WebServer/Documents/assets/css/styles.scss */
#jumbotron {
  height: 400px;
  width: 100%; }

/* Sliders ----------------------- */
/* Main ----------------------- */
/* Form ----------------------- */
/* Fixed Footer ---------------- */
/* line 143, /Library/WebServer/Documents/assets/css/styles.scss */
.close {
  position: absolute;
  right: 0;
  margin-top: -30px;
  background-color: #f7f7f7;
  opacity: 1;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }

/* line 153, /Library/WebServer/Documents/assets/css/styles.scss */
.close:hover {
  opacity: 1; }

/* line 156, /Library/WebServer/Documents/assets/css/styles.scss */
h1 {
  animation-name: fadeInDown; }

/* line 159, /Library/WebServer/Documents/assets/css/styles.scss */
.panel {
  height: 60px;
  background-color: #f7f7f7;
  box-shadow: 3px 3px 3px 3px #363B3E;
  width: 251px;
  margin-left: auto;
  margin-right: -1px; }

/* line 167, /Library/WebServer/Documents/assets/css/styles.scss */
.ng-hide-add {
  animation: 1.5s fadeInUp ease; }

/* line 170, /Library/WebServer/Documents/assets/css/styles.scss */
.ng-hide-remove {
  animation: 1.5s fadeInDown ease; }

/* line 174, /Library/WebServer/Documents/assets/css/styles.scss */
h4#send-photo {
  display: inline-block;
  padding: 6px;
  padding-bottom: 2px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
  color: #F44336; }

/* line 184, /Library/WebServer/Documents/assets/css/styles.scss */
.bottom-content .btn {
  float: right;
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 1.12em;
  width: 250px;
  padding: 12px;
  color: #f7f7f7;
  background-color: #FF6D00; }

/* line 195, /Library/WebServer/Documents/assets/css/styles.scss */
.bottom-content .btn:hover {
  background-color: #F44336; }

/* Footer ----------------------- */
/* line 199, /Library/WebServer/Documents/assets/css/styles.scss */
footer {
  background-color: #363B3E;
  padding: 50px;
  padding-bottom: 0px; }

/* line 204, /Library/WebServer/Documents/assets/css/styles.scss */
footer a {
  color: #959595; }

/* line 207, /Library/WebServer/Documents/assets/css/styles.scss */
footer a:hover {
  color: #f7f7f7; }

/* line 210, /Library/WebServer/Documents/assets/css/styles.scss */
.social {
  text-align: center; }

/* line 213, /Library/WebServer/Documents/assets/css/styles.scss */
.fa {
  padding: 10px; }

/* line 216, /Library/WebServer/Documents/assets/css/styles.scss */
#copyright {
  text-align: center;
  padding: 10px;
  margin-top: 60px; }

/*# sourceMappingURL=styles.css.map */